body {
  background-color: #1a3636;
  color: #fff8ed;
}
div {
  margin: auto;
  margin-top: 7%;
  height: 60vh;
  width: 40vw;
  padding: 1rem;
  background-color: #40534c;
  border-radius: 20px;
  border: 5px solid #d6bd98;
  align-items: center;
}
li {
  margin: 10px;
}
